{% extends 'base.html' %}

{% block titulo %}Altera Clientes{% endblock %}

{% block corpo %}

<div class="form-control">
    <form method="POST">
        {% csrf_token %}
        <div class="text-center">
            <h3>
                <label class="text-primary">Altera Clientes - {{ cliente.nome }}</label>
            </h3>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input class="form-control" value="{{ cliente.nome }}" name="nome" type="text" placeholder="Nome do cliente" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input class="form-control" value="{{ cliente.email }}" name="email" type="email" placeholder="E-mail do cliente" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="cpf_cnpj" class="form-label">CPF/CNPJ</label>
                <input class="form-control" value="{{ cliente.cpfcnpj }}" name="cpfcnpj" type="text" placeholder="CPF/CNPJ do cliente" maxlength="50" required>
            </div>
            
            <div class="mb-3">
                <label for="tp_pessoa" class="form-label">Tipo Pessoa</label>
                <select name="tp_pessoa" id="tp_pessoa" class="form-select">
                    <option value="0">Selecione</option>
                    {% for tp in tipos %}
                    <option value="{{ tp.id }}">{{ tp.descricao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estados</label>
                <select name="estado" id="estado" class="form-select">
                    <option value="0">Selecione</option>
                    {% for estado in estado %}
                    {% if estadoCliente == estado.id %}
                    <option value="{{ estado.id }}" selected>{{ estado.nome }}</option>
                    {% else %}
                    <option value="{{ estado.id }}">{{ estado.nome }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="cidade" class="form-label">Cidades</label>
                <select name="cidade" id="cidade" class="form-select">
                    <option value="0">Selecione</option>
                    {% for cidade in cidade %}
                    {% if cidadeCliente == cidade.id %}
                    <option value="{{ cidade.id }}" selected>{{ cidade.nome }}</option>
                    {% else %}
                    <option value="{{ cidade.id }}">{{ cidade.nome }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            
        </div>
        {% include 'acoes_form.html' %}
    </form>
</div>
{% endblock %}