{% extends 'base.html' %}
{% block titulo %}Lista de Categorias{% endblock %}

{% block corpo %}
 <div class="text-center">
     <h3>
         <label class="text-primary">Lista de categorias</label>
     </h3>
 </div>
 <div class="container mt-4">
     <button class="btn btn-primary" onclick="location.href='cadastra-categorias'">Novo</button>

 </div>
 {% include 'form_pesquisa.html' %}
 <div class="container mt-4">
     {% if total > 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th class="text-center">Acoes</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in porPagina %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nome }}</td>
                <td class="text-center">
                    <button class="btn btn-warning" onclick="location.href='altera-categorias/{{ categoria.id }}'">Alterar</button>
                    <button class="btn btn-danger" onclick="location.href='exclui-categorias/{{ categoria.id }}'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <label>Total de Registros: {{ total }}</label>
                </td>
            </tr>
        </tfoot>

    </table>
    {% include 'paginacao.html' %}
    {% elif procura %}
    {% include 'sem_registro_encontrado.html' %}
    {% else %}
    {% include 'sem_item_cadastrado.html' %}
    {% endif %}
</div>
{% endblock %}